.comparePage {
  .mouldTitile {
    // margin: 20px 0;
    color: rgba(0, 0, 0, 0.847058823529412);
    font-weight: 700;
    font-size: 16px;
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  }
  .tableBox {
    margin-top: 20px;
    .tableTitle {
      margin-top: 20px;
      color: rgba(0, 0, 0, 0.847058823529412);
      font-weight: 700;
      font-size: 16px;
      font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
    }
    :global {
      .ant-pro-card-body {
        padding: 0;
      }
    }
  }
  .relateTable {
    margin-top: 20px;
    :global {
      .ant-table-tbody {
        .ant-table-cell {
          padding: 0;
        }
      }
      .ant-pro-card-body {
        padding: 0;
      }
    }
    .commonSty {
      display: inline-block;
      width: 100%;
      padding: 12px 8px;
    }
    .colorFir {
      background-color: rgba(#52c41a, 35%);
    }
    .colorTwo {
      background-color: rgba(#ff4d4f, 35%);
    }
    .colorThree {
      background-color: rgba(#ff4d4f, 45%);
    }
    .colorFour {
      background-color: rgba(#ff4d4f, 55%);
    }
    .colorFive {
      background-color: rgba(#ff4d4f, 65%);
    }
    .colorSix {
      background-color: rgba(#ff4d4f, 75%);
    }
    .colorSeven {
      background-color: rgba(#ff4d4f, 85%);
    }
  }
  :global {
    .ant-descriptions-title {
      margin-top: 20px;
      color: rgba(0, 0, 0, 0.847058823529412);
      font-weight: 400;
      font-size: 14px;
      font-family: '微软雅黑';
      font-style: normal;
    }
  }
}
.modalPage {
  margin-top: 20px;
}
.progressBox {
  position: relative;
  :global {
    .ant-progress-inner {
      border-radius: 0;
    }
    .ant-progress-bg {
      height: 40px !important;
      border-radius: 0;
    }
  }
  .progressPercent {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgba(0, 0, 0, 0.847);
    font-weight: 400;
    font-size: 14px;
    font-family: 微软雅黑;
    font-style: normal;
  }
}
.progressBox_even {
  :global {
    .ant-progress-bg {
      background-color: rgba(#52c41a, 35%);
    }
  }
}
.progressBox_odd {
  :global {
    .ant-progress-bg {
      background-color: rgba(#1a86c4, 35%);
    }
  }
}
.cellSty {
  padding-left: 8px;
}
.compareForm {
  :global {
    .ant-form-inline .ant-form-item-with-help {
      margin-bottom: 0;
    }
  }
}
