// 滚动条
.scrollbar(@width, @color: #f5f5f5) {
  &::-webkit-scrollbar {
    width: @width;
    background: transparent;
    visibility: hidden;
  }

  &::-webkit-scrollbar-thumb {
    width: @width;
    background: @color;
    border-radius: @width / 2;
    visibility: hidden;
  }

  &:hover {
    &::-webkit-scrollbar {
      visibility: visible;
    }

    &::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }
}

.zy-row {
  display: flex;
  height: calc(100vh - 158px);
  padding-bottom: 12px;
  overflow: auto;
  background: #fff;
  .scrollbar(6px, #bae7ff);
}

.left-content {
  flex-shrink: 0;
  width: 200px;
  padding: 24px;
  padding-right: 0;
  padding-bottom: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.06);

  // overflow: auto;

  :global {
    .ant-steps-item-description {
      min-height: 50px;
    }

    .ant-steps-item-active {
      .ant-steps-item-container {
        // padding-top: 8px;
        border-right: 2px solid #1890ff;
      }
    }
  }
}

.right-content {
  z-index: 1000;
  flex: 1;
  // overflow: auto;
  max-width: calc(100% - 200px);
  padding: 24px;
}
