.checkBoxText {
  width: 100%;
  :global {
    .ant-checkbox + span {
      padding-right: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.Pagination {
  float: right;
}
